.contect_page_box .m-3
{
border-radius: 10px;
padding: 20px;
}
.contect_page_box i
{
  font-size: 30px;
  margin-top: 10px;
  color: #FE696A;
}
.contect_page_box h1
{
  font-size: 17px;
  margin-bottom: 20px;
}
.contect_page_box p 
{
   font-size: 14px;
   font-weight: 600;
   color: #9393A4;
   margin: 3px;
}
.contect_page_box a 
{
  text-decoration: none;
  color: #FE696A;
  font-size: 14px;
}
.stores img 
{
  height: 200px;
  width: 400px;
  border-radius: 10px;
}
.stores .box-bgs 
{
  padding: 5px;
}
.stores .col 
{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.stores h1 
{
  font-size: 18px;
}
.stores p
{
  font-size: 14px;
  margin: 0px;
  color: #9393A4;

}
.stores i 
{
  font-size: 20px;
  display: inline-block;
  margin: 5px;
  color: #FE696A;
}
.stores .border-bottom
{
  display: inline-block;
}
@media (max-width: 992px)
{
.stores img 
{
 height: 239px !important;
    width: 680px !important;
}
}
